<div class="container">
 <div class="row">
  <% if @post.errors.any? %>
    <ul class="alert alert-danger" role="alert">
      <h6 class="alert-heading">
        <%= @post.errors.count %>件のエラーが発生しました
      </h6>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <h3 class="mt-8 mb-5"><span class="back"><strong>投稿編集</strong></span></h3>
 </div>
 <div class="row">
  <%= form_with model: @post, url:post_path, local: true, method: :patch do |f| %>
   <div class='col-md-5  offset-md-5'>
    <table class="table-width">
     <tr class="form-group">
      <td>投稿画像</td>
      <td><%= f.file_field :post_image, accept: "image/*" %></td>
     </tr>

     <tr>
      <td>タイトル</td>
      <td><%= f.text_field :title %></td>
      </tr>

      <tr>
       <td>投稿内容</td>
       <td><%= f.text_area :body %></td>
      </tr>

      <tr>
       <td>ジャンル</td>
       <td><%= f.collection_select :genre_id, @genres, :id, :genre_name %></td>
      </tr>
      
      <tr>
       <td><%= f.submit '変更を保存', class: "btn btn-success" %></td>
      </tr>
    </table>
   </div>
  <% end %>
 </div>
</div>

<style>
 .table-width {
  width: 800px ;
 }

</style>