<div class="container">
  <div class="row mx-auto">
    <%= render 'public/homes/genre', genres: @genres %>
    <div class="col-lg-5 mt-4 pl-5 text-center">
      <% if @post.errors.any? %>
        <%= @post.errors.count %>件のエラーが発生しました
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <%= image_tag @post.get_post_image(500, 500), size: "350x250", class: "rounded" %>
      <div>
         <% if @post.favorited_by?(current_user) %>
          <p>
            <%= link_to post_favorites_path(@post), method: :delete do %>
              ♥<%= @post.favorites.count %> いいね
            <% end %>
          </p>
          <% else %>
          <p>
            <%= link_to post_favorites_path(@post), method: :post do %>
              ♡<%= @post.favorites.count %> いいね
            <% end %>
          </p>
        <% end %>
        <p>コメント件数：<%= @post.comments.count %></p>
        <% @post.comments.each do |comment| %>
          <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
          <%= comment.user.name %>
          <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
        <% end %>
      </div>
      <div>
        <%= form_with model: [@post, @comment] do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>
