<div class="container">
  <div class="row">
    <div class="col">
      <% if @genre.errors.any? %>
          <ul class="alert alert-danger" role="alert">
            <h6 class="alert-heading">
              <%= @genre.errors.count %>件のエラーが発生しました
            </h6>
            <% @genre.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      <h4 class="mt-8 mb-5"><span class="back"><strong>ジャンル編集</strong></span></h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form_with model: @genre, url: admin_genre_path do |f| %>
        <div class="mr-5 d-inline-block">ジャンル名</div>
        <div class="mr-5 d-inline-block"><%= f.text_field :genre_name, placeholder: "ジャンル名" %></div>
        <%= f.submit "変更を保存", class:"btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
