<div class="container">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 text-center">
      <div class="my-5 px-5">
        <% if @genre.errors.any? %>
          <ul class="alert alert-danger" role="alert">
            <h6 class="alert-heading">
              <%= @genre.errors.count %>件のエラーが発生しました
            </h6>
            <% @genre.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        <h3>
          <i class="fa-solid fa-radiation fa-spin" style="color: #55bf1d;"></i>
          <span class="back">
           <strong>
            ジャンル一覧・追加
           </strong>
          </span>
          <i class="fa-solid fa-radiation fa-spin fa-spin-reverse" style="color: #55bf1d;"></i>
        </h3>
      </div>
      <div class="mb-5">
        <%= form_with model: @genre, url: admin_genres_path do |f| %>
          <div class="mx-5 d-inline-block">ジャンル名</div>
          <div class="mx-5 d-inline-block"><%= f.text_field :genre_name, placeholder: "ジャンル名" %></div>
          <%= f.submit "新規登録", class:"btn btn-success" %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <table class="table">
        <table class="table table_bordered", bordercolor="#4FFFB0">
          <!--テーブルセル二つ合体-->
          <tr class="table-active">
            <th colspan="2" class="table-active text-center">
              ジャンル一覧
            </th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td><%= genre.genre_name %></td>
              <td class="text-center">
                <%= link_to edit_admin_genre_path(genre.id) do %>
                  <botan class="btn btn-success">編集する</botan>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>