<div class="container">
  <div class="row">
    <%= render 'public/homes/genre', genres: @genres %>
    <div class="col-lg-10">
      <div class="container">
        <div class="row">
          <% if params[:genre_id] %>
          <h2><%= @genre.genre_name %> 一覧 (全 <%= @posts_all.count %> 件)</h2>
          <% else %>
          <h2>投稿一覧 (全 <%= @posts_all.count %> 件)</h2>
          <% end %>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <% @posts.each do |post| %>
            <div class="col-sm-3 mt-3 px-1">
              <div class="card h-100 border-0">
                <%= link_to admin_post_path(post) do %>
                  <%= image_tag post.get_post_image(500, 500), size: "150x150", class: "w-100 rounded" %>
                <% end %>
                <div class="card-body">
                  <div class="card-title">
                    <h6>
                      <%= link_to admin_post_path(post) do %>
                        <%= post.title %>
                      <% end %>
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <%= paginate @posts, class: "text-center" %>
  </div>
</div>