<div class="container">
  <div class="row">
    <div class="col-md-3 mt-8 mb-3">
     <h3><span class="back"><strong>商品一覧</strong></span></h3>
    </div>
    <%= link_to admin_posts_path do %>
    <div class="icon-position">
     <i class="fa-solid fa-circle-plus fa-2xl"></i>
    </div>
    <% end %>
  </div>

  <div calss="row">

   <table class="table table-borderd">
     <tr style="background-color: #f5f5f5;">
      <th><strong>商品ID</strong></th>
      <th><strong>商品名</strong></th>
      <th><strong>税抜価格</strong></th>
      <th><strong>ジャンル</strong></th>
      <th><strong>ステータス</strong></th>
     </tr>

   <% @posts.each do |post| %>

     <tr>
      <td><%= post.id %></td>
      <td><%= link_to post.title, admin_posts_path(post.id), class:"post-name" %></td>
      <td><%= item.price.to_s(:delimited) %></td>

      <td><%= post.genre.genre_name %></td>
     </tr>
   <% end %>
   </table>
   <%= paginate @posts %>
  </div>
</div>