<div class="container">
  <div class="row mx-auto">
    <%= render 'admin/homes/genre', genres: @genres %>
    <div class="col-lg-5 mt-4 pl-5 text-center">
      <% if @post.errors.any? %>
        <%= @post.errors.count %>件のエラーが発生しました
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <%= image_tag @post.get_post_image(500, 500), size: "350x250", class: "rounded" %>
      <div>
        <p>
          ♡<%= @post.favorites.count %> いいね
        </p>
        <p>コメント件数：<%= @post.comments.count %></p>
        <% @post.comments.each do |comment| %>
          <p><%#= image_tag post_comment.user.get_profile_image(100,100) %></p>
          <%= comment.user.name %>
          <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
          <%= link_to "削除", admin_comment_path(comment.post,comment), method: :delete %>
        <% end %>
      </div>
    </div>
  </div>
</div>