<div class="container">
  <div class="row">
    <div class="col-lg-10">

      <h3 class="back"><strong>新規会員登録</strong></h3>

      <%= form_with model: @user, url: user_registration_path do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <table class="table table-borderless">
          <tr>
            <td class="d-flex justify-content-between">
              氏名<span>(氏名は公開されません)</span>
            </td>
            <td>
               <%= f.text_field :name, autofocus: true, placeholder: "釣人　太郎" %>
            </td>
          </tr>

          <tr>
            <td >
              ニックネーム<span>(公開する名前)</span>
            </td>
            <td>
              <%= f.text_field :nickname, placeholder: "エギキング" %>
            </td>
          </tr>

          <tr>
            <td>メールアドレス</td>
            <td>
              <%= f.text_field :email, placeholder: "sample@example.com" %>
            </td>
          </tr>

          <tr>
            <td>パスワード（6文字以上）</td>
            <td>
              <%= f.password_field :password, autocomplete: "new-password"  %>
            </td>
          </tr>

          <tr>
            <td>パスワード(確認用)</td>
            <td>
              <%= f.password_field :password, autocomplete: "new-password"  %>
            </td>
          </tr>

          <tr>
            <td></td>
            <td>
              <%= f.submit "会員登録", class:"btn btn-success" %>
            </td>
          </tr>

        </table>
      <% end %>

      <h5 class="back"><strong>すでに登録済みの方</strong></h5>
      <div class="d-flex align-items-center">
        <span><%= render "public/shared/links" %></span>
        <span> からログインしてください</span>
      </div>
    </div>
  </div>
</div>
