<div class="container">
  <% if @user.errors.any? %>
    <ul class="alert alert-danger" role="alert">
      <h6 class="alert-heading">
        <%= @user.errors.count %>件のエラーが発生しました
      </h6>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="row">
    <div class="col-lg-10">
      
      <h3 class="back"><strong><%= @user.nickname %>さんの会員情報編集</strong></h3>
        <% if current_user == User.find_by(params[1]) %>
          <h2><font color="red">ゲストユーザー情報は編集できません。</font></h2>
        <% else %>
          <%= form_with model: @user, url: user_path, local: true, method: :patch do |f| %>
    
            <table class="table table-borderless">
              <tr>
                <td>
                  氏名　<span>(氏名は公開されません)</span>
                </td>
                <td>
                   <%= f.text_field :name, autofocus: true, placeholder: "釣人　太郎(15文字以内)" %>
                </td>
              </tr>
    
              <tr>
                <td >
                  ニックネーム　(公開する名前)
                </td>
                <td>
                  <%= f.text_field :nickname, placeholder: "エギキング(15文字以内)" %>
                </td>
              </tr>
    
              <tr>
                <td>メールアドレス　(メールアドレスは公開されません)</td>
                <td>
                  <%= f.text_field :email, placeholder: "sample@example.com" %>
                </td>
              </tr>
    
              <tr>
                <td></td>
                <td>
                  <%= f.submit "変更を保存", class:"btn btn-success" %>
                </td>
              </tr>
    
            </table>
          <% end %>
        <% end %>
        <p>退会はこちらから</p>
        <%= link_to "退会", confirm_user_url, class:"btn btn-danger ml-5" %>
          
    </div>
  </div>
</div>