<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <div class="container">
        <div class="row">
          <h2>いいね一覧 (全 <%= @favorite_posts.count %> 件)</h2>
        </div>
      </div>
      <table class="table">
        <tbody>
          <% @favorite_posts.each do %>
          <tr>
            <td>
              <div class="container">
                <div class="row">
                  <% @posts.each do |post| %>
                    <div class="col-sm-3 mt-3 px-1">
                      <div class="card h-100 border-0">
                        <%= link_to post_path(post) do %>
                          <%= image_tag post.get_post_image(500, 500), size: "150x150", class: "w-100 rounded" %>
                        <% end %>
                        <div class="card-body">
                          <div class="card-title">
                            <h6>
                              <%= link_to post_path(post) do %>
                                <%= post.title %>
                              <% end %>
                            </h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <%= paginate @posts, class: "text-center" %>
  </div>
</div>
