<div class="container">
  <div class="row">
    <div class="col-3"></div>

    <div class="col-lg-6 mt-3 justify-content-center">
    <h3 class="back text-center">
      <strong>
        <i class="fa-regular fa-user fa-flip" style="color: #1b3fd0;"></i>
        <%= (@user.nickname) %>さんの会員詳細
        <i class="fa-regular fa-user fa-flip" style="color: #1b3fd0;"></i>
      </strong>
    </h3>

    <table class="table table-borderless text-center">
      <tr>
        <% if @user == current_user %>
        <th>氏名</th>
        <td><%= @user.name %></td>
        <% end %>
      </tr>
      <tr>
        <th>ニックネーム</th>
        <td><%= @user.nickname %></td>
      </tr>
      <tr>
        <% if @user == current_user %>
        <th>メールアドレス</th>
        <td><%= @user.email %></td>
        <% end %>
      </tr>
      <tr>
        <th></th>
        <td>
          <% if @user == current_user %>
          <span class="px-8"><%= link_to "編集する", edit_user_path(@user), class:"btn btn-success" %></span>
          <% end %>
        </td>
      </tr>
      </table>
    </div>
    <div class="col-3"></div>
  </div>
</div>

<div class="container">
  <div class="row">
     <div class='col-lg-12 mt-5'>
       <h3 class="back text-center">
         <strong>
           <i class="fa-solid fa-pencil fa-shake" style="color: #15479d;"></i>
            <%= (@user.nickname) %>さんの投稿一覧
           <i class="fa-solid fa-pencil fa-shake" style="color: #15479d;"></i>
         </strong>
       </h3>
       <div class="text-center">
         {<%= link_to '新着順', user_path(@user, latest: "true") %>}
         {<%= link_to '古い順', user_path(@user, old: "true") %>}
       </div>
       <%= render 'public/posts/post_image', posts: @posts %>
      <div class="text-center"><%= paginate @user_posts %></div>
    </div>
  </div>
</div>


