<div class="container">
  <div class="row">
    <h3 class="back"><strong><%= (@user.nickname) %>さんの会員詳細</strong></h3>
    <table class="table table-borderless">
      <tr>
        <td>氏名</td>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <td>ニックネーム</td>
        <td><%= @user.nickname %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <span class="pr-5"><%= link_to "編集する", edit_user_path(@user), class:"btn btn-success" %></span>
          <span class="pl-5"><%= link_to "投稿履歴一覧を見る", root_path, class:"btn btn-primary" %></span>
        </td>
      </tr>
      <% @posts.each do |post| %>
        <td>
          <p>投稿画像：<%= link_to post_path(post) do %>
            <%= image_tag post.get_post_image(500, 500), size: "150x150", class: "w-100 rounded" %>
          <% end %></p>
          <% if post.favorited_by?(current_user) %>
          <p>
            <%= link_to post_favorites_path(post), method: :delete do %>
              ♥<%= post.favorites.count %> いいね
            <% end %>
          </p>
          <% else %>
          <p>
            <%= link_to post_favorites_path(post), method: :post do %>
              ♡<%= post.favorites.count %> いいね
            <% end %>
          </p>
        <% end %>
          <p>ニックネーム：<%= post.user.nickname %></p>
          <p>タイトル：<%= post.title %></p>
          <p>内容：<%= post.body %></p>
          <p><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></p>
        </td>
      <% end %>
    </table>
  </div>
</div>