<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-lg-6 mt-3 justify-content-center">
    <h3 class="back text-center"><strong><%= (@user.nickname) %>さんの会員詳細</strong></h3>
    <table class="table table-borderless text-center">
      <tr>
        <td>氏名</td>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <td>ニックネーム</td>
        <td><%= @user.nickname %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <span class="px-5"><%= link_to "編集する", edit_user_path(@user), class:"btn btn-success" %></span>
        </td>
      </tr>
      </table>
      <% @posts.each do |post| %>
          <p>投稿画像：<%= link_to post_path(post) do %>
            <%= image_tag post.get_post_image(500, 500), size: "300x300", class:"card-img-top"; %>
          <% end %></p>
          <% if post.favorited_by?(current_user) %>
          <p>
            <%= link_to post_favorites_path(post), method: :delete do %>
              ♥<%= post.favorites.count %> いいね
            <% end %>
          </p>
          <% else %>
          <p>
            <%= link_to post_favorites_path(post), method: :post do %>
              ♡<%= post.favorites.count %> いいね
            <% end %>
          </p>
        <% end %>
          <p>ニックネーム：<%= post.user.nickname %></p>
          <p>タイトル：<%= post.title %></p>
          <p>内容：<%= post.body %></p>
          <p><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></p>
      <% end %>
     </div>
     <div class="col-3"></div>
  </div>
</div>