<!DOCTYPE html>
<html>
  <head>
    <title>Turibito AWAJI</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/a8dbaf925a.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP" rel="stylesheet">
  </head>

  <body>
    <div id="wrapper">
    <header class="custom-header-color navbar-fixed-top ">
      <nav class="navbar navbar-expand-lg">
        <div class="container d-flex justify-content-between align-items-center">

          <%= link_to root_path, class: "mx-0" do %>
            <%= image_tag "12.png", alt: "LOGO", size: "90x65" %>
          <% end %>
          <% if user_signed_in? %>
            <div class="d-flex align-items-center justify-content-center" style="flex: 1;">
              <p class="mx-2 text-secondary p-centered">ようこそ、<%= current_user.nickname %> さん！</p>
            </div>
          <% end %>


          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
                <% if request.fullpath.include? "/admin" %>
                  <li class="nav-item">
                    <%= link_to "投稿一覧", admin_posts_path, class: "btn nav-link ml-2" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "会員一覧", admin_users_path, class: "btn nav-link ml-2" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ジャンル一覧", admin_genres_path, class: "btn nav-link ml-2" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn nav-link ml-2" %>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to "投稿一覧", posts_path, class: "btn nav-link ml-2" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ABOUT", about_path, class: "btn nav-link ml-2" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "会員登録", new_user_registration_path, class: "btn nav-link ml-2" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn nav-link ml-2" %>
                  </li>
                <% end %>
              <% elsif user_signed_in? %>
                <li class="nav-item">
                  <%= link_to "いいね一覧", favorites_user_path(current_user), class: "btn nav-link ml-2" %>
                </li>
                <li class="nav-item">
                  <%= link_to "投稿一覧", posts_path, class: "btn nav-link ml-2" %>
                </li>
                <li class="nav-item">
                  <%= link_to "新規投稿", new_post_path, class: "btn nav-link ml-2" %>
                </li>
                <li class="nav-item">
                  <%= link_to "マイページ", user_path(current_user), class: "btn nav-link ml-2" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn nav-link ml-2" %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "投稿一覧", posts_path, class: "btn nav-link ml-2" %>
                </li>
                <li class="nav-item">
                  <%= link_to "About", about_path, class: "btn nav-link ml-2" %>
                </li>
                <li class="nav-item">
                  <%= link_to "会員登録", new_user_registration_path, class: "btn nav-link ml-2" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_user_session_path, class: "btn nav-link ml-2" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <span class="flash"><%= notice %></span>
    <div class=" gradient custom-body mt-3">
      <%= yield %>
    </div>
    
    <footer class="bg-dark text-white pt-5 pb-4">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4">
            <p>no fishing no life </p>
            <%= image_tag "12.png", alt: "LOGO", size: "75x50" %>
          </div>
          <div class="col-md-8">
            <h6 class="text-white mt-2 mb-3">Link</h6>
            <ul class="p-0 list-unstyled">
              <li>
                <a href="" title="About" class="text-white-50">会社概要</a>
              </li>
              <li>
                <a href="" title="License informations" class="text-white-50">プライバシーポリシー</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!--<footer class="custom-footer-color fixed-bottom">
      <div class="container">
        <div class="row no-gutters justify-content-center">

          <div class="col-auto text-center pt-1">
            <%#= image_tag "12.png", alt: "LOGO", size: "75x50" %>
          </div>

          <div class="col-auto text-center pt-3">
            <p>©CopyRight TuribitoAWAJI.inc</p>
          </div>

        </div>
      </div>
    </footer>-->
    </div>
  </body>
</html>

<style>
.gradient { 
	background:radial-gradient(#fff, #56C500); 
	min-height: 500px;
	border: 1px solid #333;
}
</style>